{%extends 'base.html' %}

{%block title%}
Informacion producto
{%endblock%}

{%block links%}
<a class="navbar-page" href="{{ url_for('index') }}">Inicio</a>
<a class="navbar-page">Sobre Nosotros</a>
<a class="navbar-page">Contactos</a>
{%endblock%}

<a class="navbar-page" href="{{ url_for('index') }}">Inicio</a>
<a class="navbar-page">Sobre Nosotros</a>
<a class="navbar-page">Contactos</a>
{%block css%}
<link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/informacion-producto.css') }}"
/>
{%endblock%}
{%block content%}
<div  id="titulo2">
    <a name="pepino"></a>
    <div>
        <h2>Pepino</h2>
        <div class="container">
            <p class="texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu neque ac nunc euismod accumsan. Sed semper venenatis massa a porta. 
                Pellentesque a posuere ex. Nunc suscipit tempus dictum. Integer eleifend urna ac placerat tempor. 
                Cras tincidunt dolor nec ex viverra hendrerit. 
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                Donec ac neque eu diam ultrices finibus at nec neque. Suspendisse condimentum, urna at dignissim
                tincidunt, est lorem gravida erat, at tincidunt metus tortor nec arcu. Maecenas ullamcorper massa 
                et condimentum iaculis. Sed et commodo metus. Nullam consectetur, dolor a tempor fermentum, sem augue 
                ornare ligula, eget efficitur nunc purus eu odio. Maecenas ut sagittis tellus. Suspendisse eget laoreet
                nisl, eget fermentum libero. Integer gravida fringilla vestibulum. </p>
            <img class="imagen" id="pepino" src="../imagenes/pepinomediano.png" alt="pepino" >
            <div id="modal1" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img01" src="../imagenes/pepinogrande.png">
            </div> 

        </div>
    </div>
    <a name="manzana"></a>
    <div>
        <h2>manzana</h2>
        <div class="container">
            <img class="imagen" id="manzana" src="../imagenes/manzanamediano.png" alt="manzana">
            <div id="modal2" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img02" src="../imagenes/manzanagrande.png">
            </div>   
            <p class="texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu neque ac nunc euismod accumsan. Sed semper venenatis massa a porta. 
                Pellentesque a posuere ex. Nunc suscipit tempus dictum. Integer eleifend urna ac placerat tempor. 
                Cras tincidunt dolor nec ex viverra hendrerit. 
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                Donec ac neque eu diam ultrices finibus at nec neque. Suspendisse condimentum, urna at dignissim
                tincidunt, est lorem gravida erat, at tincidunt metus tortor nec arcu. Maecenas ullamcorper massa 
                et condimentum iaculis. Sed et commodo metus. Nullam consectetur, dolor a tempor fermentum, sem augue 
                ornare ligula, eget efficitur nunc purus eu odio. Maecenas ut sagittis tellus. Suspendisse eget laoreet
                nisl, eget fermentum libero. Integer gravida fringilla vestibulum. </p>
            
        </div>
    </div>
    <a name="apio"></a>
    <div>
        <h2>apio</h2>
        <div class="container">
                
            <p class="texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu neque ac nunc euismod accumsan. Sed semper venenatis massa a porta. 
                Pellentesque a posuere ex. Nunc suscipit tempus dictum. Integer eleifend urna ac placerat tempor. 
                Cras tincidunt dolor nec ex viverra hendrerit. 
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                Donec ac neque eu diam ultrices finibus at nec neque. Suspendisse condimentum, urna at dignissim
                tincidunt, est lorem gravida erat, at tincidunt metus tortor nec arcu. Maecenas ullamcorper massa 
                et condimentum iaculis. Sed et commodo metus. Nullam consectetur, dolor a tempor fermentum, sem augue 
                ornare ligula, eget efficitur nunc purus eu odio. Maecenas ut sagittis tellus. Suspendisse eget laoreet
                nisl, eget fermentum libero. Integer gravida fringilla vestibulum. </p>
                <img class="imagen" id="apio" src="../imagenes/apiomediano.png" alt="apio" >
                <div id="modal3" class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content" id="img03" src="../imagenes/apiogrande.png">
                </div> 
        </div>
    </div>
    <a name="platano"></a>
    <div>
        <h2>platano</h2>
        <div class="container">
            <img class="imagen" id="platano" src="../imagenes/platanomediano.png" alt="platano">
            <div id="modal4" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img04" src="../imagenes/platanogrande.png">
            </div> 
            <p class="texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu neque ac nunc euismod accumsan. Sed semper venenatis massa a porta. 
                Pellentesque a posuere ex. Nunc suscipit tempus dictum. Integer eleifend urna ac placerat tempor. 
                Cras tincidunt dolor nec ex viverra hendrerit. 
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                Donec ac neque eu diam ultrices finibus at nec neque. Suspendisse condimentum, urna at dignissim
                tincidunt, est lorem gravida erat, at tincidunt metus tortor nec arcu. Maecenas ullamcorper massa 
                et condimentum iaculis. Sed et commodo metus. Nullam consectetur, dolor a tempor fermentum, sem augue 
                ornare ligula, eget efficitur nunc purus eu odio. Maecenas ut sagittis tellus. Suspendisse eget laoreet
                nisl, eget fermentum libero. Integer gravida fringilla vestibulum. </p>
                
        </div>
    </div>
    <a name="sandia"></a>
    <div>
        <h2>sandia</h2>
        <div class="container">
                
            <p class="texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu neque ac nunc euismod accumsan. Sed semper venenatis massa a porta. 
                Pellentesque a posuere ex. Nunc suscipit tempus dictum. Integer eleifend urna ac placerat tempor. 
                Cras tincidunt dolor nec ex viverra hendrerit. 
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                Donec ac neque eu diam ultrices finibus at nec neque. Suspendisse condimentum, urna at dignissim
                tincidunt, est lorem gravida erat, at tincidunt metus tortor nec arcu. Maecenas ullamcorper massa 
                et condimentum iaculis. Sed et commodo metus. Nullam consectetur, dolor a tempor fermentum, sem augue 
                ornare ligula, eget efficitur nunc purus eu odio. Maecenas ut sagittis tellus. Suspendisse eget laoreet
                nisl, eget fermentum libero. Integer gravida fringilla vestibulum. </p>
                <img class="imagen" id="sandia" src="../imagenes/sandiamediano.png" alt="sandia">
                <div id="modal5" class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content" id="img05" src="../imagenes/sandiagrande.png">
                </div> 
        </div>
    </div>
</div>
{%endblock content%}
{%block javascript%}
<script lang="javascript" src="{{ url_for('static', filename='js/informacion-producto.js') }}"></script>

{%endblock%}