{%extends 'base.html' %}

{%block title%}
Ver pedidos
{%endblock%}

{%block links%}
<a class="navbar-page" href="{{ url_for('index') }}">Inicio</a>
<a class="navbar-page">Sobre Nosotros</a>
<a class="navbar-page">Contactos</a>
{%endblock%}

{%block css%}
<link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/ver-pedidos.css') }}"
/>
{%endblock%}

{%block content%}
<div id="container">
    <table id= "tabla"> 
        <tr>
            <th>Tipo</th>
            <th>Producto(s)</th>
            <th>Región</th>
            <th>Comuna</th>
            <th>Nombre comprador</th>
        </tr>
    </table>
</div>
<div id="botones">
    <button class="boton" type="button" id="anterior">Anterior</button>
    <button class="boton" type="button" id="siguiente">Siguiente</button>
</div>
{%endblock%}

{%block javascript%}
<script lang="javascript" src="{{ url_for('static', filename='js/ver-pedido.js') }}"></script>
{%endblock%}